# Snappy for AP80 Pro Max — Japanese/Unicode metadata variant
wps: /.rockbox/wps/Snappy_AP80_PRO_JP.wps
sbs: /.rockbox/wps/Snappy_AP80_PRO_JP.sbs
font: /.rockbox/fonts/22-KodeMono-JapaneseHybrid.fnt
default codepage: utf-8
iconset: /.rockbox/icons/Snappy_AP80.bmp
viewers iconset: /.rockbox/icons/Snappy_AP80_viewer.bmp
backdrop: -
show icons: on
filetype colours: -
scrollbar: right
scrollbar width: 12
selector type: bar (inverse)
statusbar: top
foreground color: ff4d00
background color: 210000
ui viewport: 0,0,360,640,-,ff4d00,210000
